

/* Style Sheet for Homer Responsive Design website, by Matt Kim */




/* above 1600: Top left*/
@media screen 
  and (min-width: 1600px) {
	.homer {
		width:295px; height:295px; 
		background:url(homer.jpg) 12px -13px;
	}
}


/* 1600 to 1400: Top right */
@media screen 
  and (min-width: 1400px) 
  and (max-width: 1600px) {
	.homer {
		width:295px; height:295px; 
		background:url(homer.jpg) 319px -13px;
	}
}


/* 1400 to 1200: Bottom left; */
@media screen 
  and (min-width: 1200px) 
  and (max-width: 1400px) {
 	.homer {
 		width:295px; height:295px; 
		background:url(homer.jpg) 12px -319px;
	}
 }

/* 1200 to 1000: Bottom right; */
@media screen 
  and (min-width: 1000px) 
  and (max-width: 1200px) {
 	.homer {
 		width:295px; height:295px; 
		background:url(homer.jpg) 319px -319px;
	}
 }


/* 1000 to 800 Bottom left*/
@media screen 
  and (min-width: 800px) 
  and (max-width: 1000px) {
 	.homer {
 		width:295px; height:295px; 
		background:url(homer.jpg) 12px -319px;
	}
 }


/* 800 to 600 Top right*/
@media screen 
  and (min-width: 600px) 
  and (max-width: 800px)  {
 	.homer {
 		width:295px; height:295px; 
		background:url(homer.jpg) 319px -13px;
	}
 }



/* 600 to 0 top left */
@media screen 
  and (max-width: 600px) {
 	.homer {
 		width:295px; height:295px; 
		background:url(homer.jpg) 12px -13px;
	}
 }













